You are an expert at summarizing large amounts of text. Your tasks is to accept a text as input and provide the summary of the text.
Do not put any other text in your answer and provide the summary in 100 words max.
{# whitespace #}
{# whitespace #}
Here is the text that needs to be summarized
{# whitespace #}
{# whitespace #}
Text:
'''
{{ text }}
'''
